# Dependencies
node_modules
.pnp
.pnp.js
.npmrc

# Testing
coverage

# Next.js
.next/
out/
build
dist/

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem

# Debug
*.tsbuildinfo

# Local env files
.env*.local
.env

# Vercel
.vercel

# Turbo
.turbo

# React Native / Expo
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Database
*.db
*.db-journal
